:root {
  /* theme colors */
  --bg-clr: #FFFCF8;
  --txt-clr: #333333;
  --blush: #F5BBBE;
  --rain: #A5CCE4;
  --night: #183550;

  /* theme fonts */
  --title-font: 'Crimson Text', serif;
  --txt-font: 'Fira Code', monospace;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--title-font);
}