:root {
  /* theme colors */
  --bg-clr: #FFFCF8;
  --txt-clr: #333333;
  --blush: #F5BBBE;
  --rain: #A5CCE4;
  --night: #183550;

  /* theme fonts */
  --title-font: 'Crimson Text', serif;
  --accent-font: 'Fira Code', monospace;
  --txt-font: 'Anek Tamil', sans-serif;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--title-font);
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}